## Logistic Regression Task

## Problem Statement - Data consisitest of information about passenger travelling in the Titanic Ship which met an accident. Predict if the the passagers survived the accedent from the avaiable data.

as**

In [33]:
import pandas

**Data acquired from Kaggle as CSV file.**

**Data import from local drive using Pandas**

In [3]:
df_train = pd.read_csv('../ex/titanic dataset/train.csv')

## information check 

**No. of columns** = 12

**No. of Rows**  = 891

**Data types** = 'object','int','float'

**Missing data** = True

**Dependent variable** = 'Survived'

In [4]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

## List of Columns classified into categorical and numerical data columns

In [5]:
column_cat = ['PassengerId','Pclass', 'Name', 'Sex', 'Age', 'Cabin', 'Embarked']
column_num = ['SibSp','Parch','Fare']

## Null value check

In [6]:
df_train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

## Imputer Implimentation

**Elemenating Null values from data set by using Mode strategy for catagorical data and Median satrategy for numerical data**

In [7]:
from sklearn.impute import SimpleImputer 
impute_cat = SimpleImputer(strategy='most_frequent') 
impute_cat.fit(df_train[column_cat]) 
df_train[column_cat] = impute_cat.transform(df_train[column_cat])

In [8]:
impute_num = SimpleImputer(strategy='median') 
impute_num.fit(df_train[column_num]) 
df_train[column_num] = impute_num.transform(df_train[column_num])

## Binning 

**Data of age column was divided to 3 parts to understand the group that Survived the most.**

In [9]:
df_train['new_age'] = pd.cut(df_train['Age'],3,labels=['Child','Adult','Old'])
df_train['new_age']

0      Child
1      Adult
2      Child
3      Adult
4      Adult
       ...
886    Adult
887    Child
888    Child
889    Child
890    Adult
Name: new_age, Length: 891, dtype: category
Categories (3, object): ['Child' < 'Adult' < 'Old']

## Null Value check in the the data set

In [10]:
df_train.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
new_age        0
dtype: int64

## New Catagorial colums list is formed after inital pre-processing to initiate Encoding of the catagorical data.

In [11]:
New_column_cat = ['PassengerId','Pclass', 'Name', 'Sex', 'new_age', 'Cabin', 'Embarked']

## OneHotEncoding

**One Hot Encoding, Feature Engineering perfomred on catagorical data of the coloums.**

In [14]:
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder(sparse_output = False, handle_unknown = 'ignore')
encoder.fit(df_train[New_column_cat])
column_enc = list(encoder.get_feature_names_out())
df_train[column_enc] = encoder.transform(df_train[New_column_cat])

## Feature Scaling

**MinMaxScaling, Feature Engineering performed Numerical data of the colouns**

In [15]:
from sklearn.preprocessing import MinMaxScaler
Scaler = MinMaxScaler()
Scaler.fit(df_train[column_num])
df_train[column_num] = Scaler.transform(df_train[column_num])

## Final list of columns created

In [16]:
final_column = column_num + column_enc
X = df_train[final_column]
y = df_train['Survived']

## Logistic Regression Model Fitting

In [17]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()
model.fit(X,y)

LogisticRegression()

## Import Test Data

In [18]:
df_test = pd.read_csv('../ex/titanic dataset/test.csv')

## Information check on test data

In [19]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.1+ KB

## Null Value check in Test data Set

In [20]:
df_test.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

## Test data pre-processing

In [22]:
df_test['new_age'] = pd.cut(df_train['Age'],3,labels=['Child','Adult','Old'])
df_test[column_cat] = impute_cat.transform(df_test[column_cat])
df_test[column_num] = impute_num.transform(df_test[column_num])
df_test[column_num] = Scaler.transform(df_test[column_num])
df_test[column_enc] = encoder.transform(df_test[New_column_cat])

## Null value check of dataset after per-processing

In [24]:
df_train.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
              ..
Cabin_G6       0
Cabin_T        0
Embarked_C     0
Embarked_Q     0
Embarked_S     0
Length: 1953, dtype: int64

## Model Score on train data

In [25]:
model.score(X,y)

0.9191919191919192

## Model Prediction

In [30]:
X_test= df_test[final_column]
yp = model.predict(X_test)
print(yp)

[0 1 0 0 1 0 0 0 1 0 0 0 1 0 1 1 0 0 1 1 0 0 1 0 1 0 1 0 0 0 0 0 1 0 1 0 1
 1 0 0 0 0 0 1 1 0 1 0 1 1 0 0 1 1 0 0 0 0 0 1 0 0 0 1 1 1 1 0 1 1 1 0 1 1
 1 1 0 1 0 1 0 0 0 0 0 0 1 1 1 0 1 0 1 0 0 0 1 0 1 0 1 0 0 0 1 0 0 0 0 0 0
 1 1 1 1 0 0 1 1 1 1 0 1 0 0 1 0 1 0 0 0 1 1 0 0 0 0 0 1 0 1 1 1 0 0 0 0 0
 0 0 1 0 0 1 0 0 1 1 0 1 1 0 1 0 0 1 1 0 1 1 0 0 0 0 0 1 1 1 1 1 0 1 1 0 1
 0 1 0 1 0 0 0 0 0 0 0 1 1 0 1 1 0 1 1 0 0 1 0 1 0 0 0 0 1 1 0 1 0 1 0 1 0
 1 0 1 1 0 1 0 0 0 1 0 0 1 0 1 0 1 1 1 1 1 0 0 0 1 0 1 0 1 0 0 0 0 0 0 0 1
 0 0 0 1 1 0 0 0 0 0 0 1 0 1 1 0 1 0 0 0 0 0 0 1 1 1 0 0 0 0 0 0 1 0 1 0 0
 1 0 0 0 0 1 0 0 1 1 0 0 0 1 0 0 0 1 1 1 1 0 0 0 0 0 0 0 1 0 1 0 0 0 1 1 0
 1 0 1 0 0 0 0 0 0 0 1 0 1 0 1 0 1 1 0 0 0 1 0 1 0 0 1 0 1 1 0 1 1 0 1 1 0
 0 1 0 0 1 1 1 0 0 0 0 0 1 1 0 1 0 0 0 0 0 1 0 0 0 1 0 1 0 0 1 0 1 0 1 1 0
 1 1 1 1 1 1 0 1 0 0 0]

## Create Data Frame of the predicted output

In [35]:
predicted_data = pd.DataFrame({'passenger ID':df_test['PassengerId'],'Name':df_test['Name'],'Survived':yp})

In [36]:
predicted_data

    passenger ID                                          Name  Survived
0            892                              Kelly, Mr. James         0
1            893              Wilkes, Mrs. James (Ellen Needs)         1
2            894                     Myles, Mr. Thomas Francis         0
3            895                              Wirz, Mr. Albert         0
4            896  Hirvonen, Mrs. Alexander (Helga E Lindqvist)         1
..           ...                                           ...       ...
413         1305                            Spector, Mr. Woolf         0
414         1306                  Oliva y Ocana, Dona. Fermina         1
415         1307                  Saether, Mr. Simon Sivertsen         0
416         1308                           Ware, Mr. Frederick         0
417         1309                      Peter, Master. Michael J         0

[418 rows x 3 columns]